// tempcolour
@h1-border-bottom: #848484;

body
{
    margin: 0;
}

h1
{
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid @h1-border-bottom;
}

h2
{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    opacity: .9;
}

p
{
    margin: 0;
}

.main-wrap
{
    width: 1000px;
    margin: auto;
}

.main-inputs-zone
{
    display: flex;

    .time-inputs
    {
        flex: 1;
        padding: 0px 5px;
        box-sizing: border-box;

        .timer-input-header
        {
            margin-top: 20px;
        }
    }

    .range-inputs
    {
        flex: 2;

        .url-input-wrap
        {
            padding: 10px 10px 0 10px;
            font-size: 0;

            textarea.url-input
            {
                width: 100%;
                margin: 0;
                resize: none;
                box-sizing: border-box;
                height: 243px;
            }
        }
    }
}

.timer-zone
{
    margin-top: 30px;
    text-align: center;
}

.control-zone
{
    margin-top: 18px;
}