// tempcolour
@timer-input-bottom-border: #ebebeb;

.timer-input
{
    font-size: 0;
    display: inline-block;
    border-bottom: 1px solid @timer-input-bottom-border;
    padding: 10px 5px;

    span
    {
        font-size: 60px;

        &.small-digit
        {
            font-size: 30px;
        }
    }

    .digit-spacer
    {
        display: inline-block;
        width: 15px;
    }
}